{{ $year := now.Year }}
{{ with site.Copyright }}
<br>
<p>此中文文档由Sunniy Studio翻译</p>
<p>Copyright &copy; {{ $year }} Open 3D Engine 贡献者</p>
<p>
    文档  <a href= "https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> 协议发布。
    <br>
    对于我们的商标、隐私和反垄断政策、行为准则和使用条款，请点击下面的适用链接或查看 <a href= "https://www.lfprojects.org">https://www.lfprojects.org</a>。
</p>
<div class="footer-links">
    <a href="https://lfprojects.org/policies/trademark-policy">商标政策</a>
    <a href="https://lfprojects.org/policies/privacy-policy/">隐私政策</a>
    <a href="https://lfprojects.org/policies/antitrust-policy/">反垄断政策</a>
    <a href="https://lfprojects.org/policies/code-of-conduct/">行为准则</a>
    <a href="https://lfprojects.org/policies/terms-of-use/">使用条款</a>
</div>
<br>
<p>Linux Foundation 拥有注册商标并使用商标。有关 Linux Foundation 的商标列表，
    请查看 <a href="https://www.linuxfoundation.org/trademark-usage/">商标政策</a> 页面。</p>
{{ end }}
