{{ $app := resources.Get "js/app.js" | fingerprint }}

{{/* 统一定义资源获取方法 */}}
{{ $jquery := resources.Get "js/third-party/jquery-3.5.1.min.js" | fingerprint }}
{{ $popper := resources.Get "js/third-party/popper.min.js" | fingerprint }} <!-- 已简化文件名 -->
{{ $bootstrap := resources.Get "js/third-party/bootstrap.min.js" | fingerprint }}
{{ $uaParser := resources.Get "js/third-party/ua-parser.min.js" | fingerprint }}
{{ $lunr := resources.Get "js/third-party/lunr.min.js" | fingerprint }}

{{/* MathJax 需要特殊处理 */}}
{{ $mathjaxConfig := resources.Get "js/third-party/mathjax/tex-mml-chtml.js" | fingerprint }}

<script src="{{ $jquery.RelPermalink }}"
        integrity="{{ $jquery.Data.Integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ $popper.RelPermalink }}"
        integrity="{{ $popper.Data.Integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ $bootstrap.RelPermalink }}"
        integrity="{{ $bootstrap.Data.Integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ $uaParser.RelPermalink }}"
        integrity="{{ $uaParser.Data.Integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ $lunr.RelPermalink }}"
        integrity="{{ $lunr.Data.Integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ $app.RelPermalink }}"
        type="module"
        integrity="{{ $app.Data.Integrity }}"></script>

<script src="{{ $mathjaxConfig.RelPermalink }}"
        integrity="{{ $mathjaxConfig.Data.Integrity }}"
        crossorigin="anonymous" defer></script>
