{{ define "main" }}
<main id="main">
    <div class="container">
        <section class="row">
            <section class="col col-8">
                <h1 id="title">哎呀！在这里没有内容... (404)</h1>
                <div class="content">
                    <para>看起来您找到了一个空页面！</para>
                    <br/><br/>
                    <para>返回 <a href="{{ (site.GetPage "section" "docs").RelPermalink }}">文档</a>.</para>
                    <h2>从文档链接来到这里？</h2>
                    <br/>
                    <para>
                        如果您通过文档链接访问此页面，如果您<a href="https://github.com/o3de/o3de.org/issues/new/choose">f提交 GitHub 问题</a>. 我们将不胜感激。
                    </para>
                    <br/><br/>
                </div>
            </section>
        </section>
    </div>
</main>
{{ partial "footer.html" . }}
{{ end }}
