{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="row contribute-section">
  <div class="col-12 col-lg-4">
    <div class="github-box">
      <h3><i class="fab fa-github"></i>贡献代码</h3>
      <p>O3DE 是以其专家社区的优势为基础开发的。我们也希望您也能做出贡献！阅读我们关于为 O3DE 做贡献的指南。</p>
      <a href="https://github.com/o3de/o3de/" class="learn-more">在 GitHub 上查看</a>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <p>Open 3D Engine 是一个多元化和包容性的社区，强调协作、尊重和透明度。 我们希望每个做出贡献的人都感到受欢迎，并以他们期望的专业精神对待。</p>
    <p>我们希望每个为 O3DE 贡献时间、精力和知识的人都能获得良好的体验。</p>
  </div>
</div>
