<div class="container-flex features-outer">
  <section class="home-features">
    <div class="feature-row mt-3 mb-3">
      <div class="features-img features-img-copy" style="background-image: url('https://dhs-o.s3.us-east-2.amazonaws.com/images/image001.png')"></div>
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="features-text col col-12 col-lg-7 offset-lg-5">
            <h2>创建 AAA 游戏和高保真模拟</h2>
            <p>O3DE 在开发时充分考虑了尖端的实时图形和复杂的交互，允许您使用我们的以下功能创建强大、引人入胜的体验：
              <ul>
                <li>多线程和可扩展的真实照片级渲染器</li>
                <li>可扩展和可视化的 3D 内容编辑器</li>
                <li>数据驱动的角色动画系统</li>
                <li>实时物理引擎</li>
                <li>高性能网络层</li>
                <li>访问我们不断壮大的开源社区</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-row mt-3 mb-3">
      <div class="features-img-reverse" style="background-image: url('/img/home/feature2.jpg')"></div>
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="features-text col col-12 col-lg-7">
            <h2>专为可扩展性而构建</h2>
            <p>O3DE 的模块化架构从一开始就为定制而构建。每个组件（称为 Gem）都可以单独采用，从而使您能够访问应用程序所需的特定功能。</p>
            <p>为您的项目添加新的编辑工具、功能和开发工作流程。从各种社区维护的 Gem 中进行选择，以扩展和增强引擎在 AI 和机器人技术、推送通知和 VR 等任何方面的功能。</p>
            <p>W借助我们引擎的 SDK 功能，您可以将 O3DE 用作您能想象到的任何类型的 3D 项目的基础。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-row mt-3 mb-3">
      <div class="features-img" style="background-image: url('/img/home/feature3.jpg')"></div>
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="features-text col col-12 col-lg-7 offset-lg-5">
            <h2>与您最喜欢的云服务集成</h2>
            <p>O3DE 的 Gem 系统提供对云服务的集成和支持，使您能够扩展模拟和体验的功能。从现有的后端云模块中进行选择，或者创建具有自定义功能的您自己的 Gem，以将您最喜欢的云服务的强大功能引入您的项目。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
