<!-- This shortcode creates a callout box for features that are in development and provides links to open issues and PRs for the feature.
Use of this shortcode in documentation must be requested by a SIG or a developer, and should only be applied to features that are in active development.
This shortcode is used in scenarios where historically a feature might have been classified as "experimental" or "preview".
This shortcode takes three quote enclosed parameters in order:
    1. Feature Name
    2. Issues Link
    3. Pull Requests Link
-->

<blockquote class="important callout card border-info">
    <div class="row no-gutters">
        <div class="col-md-2 bg-info text-white p-2"><strong>开发中的功能: </strong></div>
        <div class="col p-2">
            <p> <strong>{{.Get 0}}</strong> {{" 是当前正在开发且存在已知问题的功能。你可以帮助改进 "}} {{ .Get 0 }} {{" ，通过后根据你使用此功能的经验填写新问题，并提交拉取请求。" | markdownify }}</p>
            <p>{{"参阅 " | markdownify}} <a href={{ .Get 1 }}>{{ .Get 0 }} {{" 问题"}}</a> {{" 查看已知问题，并为此功能填写新问题。" | markdownify}}</p>
            <p>{{"参阅 " | markdownify}} <a href={{ .Get 2 }}>{{ .Get 0 }} {{" 拉取请求"}}</a> {{" 查看打开的拉取请求，并为此功能填写新的拉取请求。" | markdownify}}</p>
        </div>
    </div>
</blockquote>
