{{/* This shortcode creates a known-issue callout.  */}}

<blockquote class="known-issue callout card border-warning">
    <div class="row no-gutters">
      <div class="col-md-2 bg-warning text-white p-2"><strong>已知问题: </strong></div>
      <div class="col p-2">  <p>{{ trim .Inner " \n" | markdownify }}</p>
        <!-- Find link <a href="{{.Get "link"}}">here</a>. -->
            {{ if .Get "link" }}
                你可以在<a href="{{.Get "link"}}">这里</a>找到关于此问题的信息。
            {{else}}
                没有列出此问题的信息。通过引用一个 <a href="https://github.com/o3de/o3de/issues">问题</a>、<a href="https://github.com/o3de/o3de/discussions">讨论</a>， 或<a href="https://github.com/o3de/o3de/pulls">拉取请求</a>添加信息。
            {{end}}
      </div>

      
      
    </div>
  </blockquote>
  
{{/*  
    Example:

    {{< known-issue link="https://github.com/o3de/o3de.org/issues/432" >}}
    At this time, you cannot do X. This will be resolved by YZ in development. 
    {{< /known-issue >}}
    
    
    {{< known-issue >}}
    The details of this issue are XYZ.
    {{< /known-issue >}}    
*/}}
