{{/* This shortcode creates a todo callout. ___  */}}

<blockquote class="warning callout card border-info">
    <div class="row no-gutters">
      <div class="col-md-2 bg-info text-white p-2"><strong>待办: </strong></div>
      <div class="col p-2">  <p>{{ trim .Inner " \n" | markdownify }}</p>
        <!-- Find GitHub issue <a href="{{.Get "issue"}}">here</a>. -->
            {{ if .Get "issue" }}
                在<a href="{{.Get "issue"}}">这里</a>为此任务创建一个GitHub问题。
            {{else}}
                尚未为此任务创建 GitHub 问题。 在<a href="https://github.com/o3de/o3de.org/issues/new/choose">这里</a>创建一个问题。
            {{end}}
      </div>

      
      
    </div>
  </blockquote>
  
{{/*  
    Example:

    {{< todo issue="https://github.com/o3de/o3de.org/issues/432" >}}
    The details of this task are ___. A link to the issue is provided.
    {{< /todo >}}
    
    
    {{< todo >}}
    The details of this task are ___. There is no link to the issue.
    {{< /todo >}}    
*/}}
